.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  min-width: 200px;
}

.playground-card {
  margin-bottom: 20px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.sea {
  background: #42b8e3;
}

.water_missed {
  background: #42b8e3;
}

.ship {
  background: #d18017;
}

.wounded_ship {
  background: red;
}

.destroyed_ship {
  background: black;
}

.fog {
  background: #f2e6e6;
}

.leftPlayground .ship {
  background: #d18017;
}

.rightPlayground .ship {
  background: olivedrab;
}

.name {
  color: #5271eb;
  font-size: 20px;
  font-weight: bold;
}

.stats {
  color: #5271eb;
  font-size: 20px;
  font-weight: normal;
  padding-top: 10px;
}

img {
  width: 15px;
  height: 15px;
}

.finished {
  opacity: 0.3;
}

.win {
  outline: 5px solid lightgreen;
}

.lose {
  outline: 5px solid black;
}

.last_shooted {
  outline: 5px solid greenyellow;
  position: relative;
}

div {
  transition: outline 500ms;
}
