<mat-card class="playground-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="name">{{ name }}</mat-card-title>
  </mat-card-header>
  <div
    class="wrapper"
    [class.leftPlayground]="own"
    [class.rightPlayground]="!own"
  >
    <div *ngFor="let row of playground?.cells">
      <div
        *ngFor="let cell of row"
        [class.cell]="true"
        [class.sea]="cell === 0"
        [class.ship]="cell === 1"
      ></div>
    </div>
  </div>
  <mat-card-content>
    <p class="stats">Осталось {{ playground?.ships_left }} кораблей</p>
  </mat-card-content>
</mat-card>
