<mat-card class="playground-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="name">{{ name }}</mat-card-title>
  </mat-card-header>
  <div
    class="wrapper"
    [class.leftPlayground]="own"
    [class.rightPlayground]="!own"
    [class.finished]="playground?.status > 0"
    [class.win]="playground?.status === PLGRstatus.win"
    [class.lose]="playground?.status === PLGRstatus.lose"
  >
    <div *ngFor="let row of playground?.cells">
      <div
        *ngFor="let cell of row"
        [class.cell]="true"
        [class.sea]="cell.value === cellValues.sea"
        [class.ship]="cell.value >= cellValues.shipMin && cell.value <= cellValues.shipMax"
        [class.wounded_ship]="
          cell.value % 1000 >= cellValues.woundedShipMin &&
          cell.value % 1000 <= cellValues.woundedShipMax
        "
        [class.destroyed_ship]="
          cell % 1000 >= cellValues.destroyedShipMin &&
          cell % 1000 <= cellValues.destroyedShipMax
        "
        [class.fog]="cell.value === cellValues.fog"
        [class.water_missed]="cell.value % 1000 === cellValues.waterMissed"
        [class.last_shooted]="cell.value >= cellValues.justShooted"
      >
        <img
          *ngIf="cell.value % 1000 > 100 && cell.value % 1000 < 200"
          src="../../assets/damaged.png"
        />
        <img *ngIf="cell.value % 1000 === 100" src="../../assets/missed.png" />
        {{ cell.value }}
      </div>
    </div>
  </div>
  <mat-card-content>
    <p
      *ngIf="playground?.status === 0 && playground?.ships_left > 0"
      class="stats"
    >
      Осталось {{ playground?.ships_left }} кораблей
    </p>
    <p *ngIf="playground?.status === 1" class="stats">Победа!</p>
    <p *ngIf="playground?.status === 2" class="stats">Не повезло...</p>
  </mat-card-content>
</mat-card>
