<div class="container">
  <button mat-fab color="warn" (click)="fight()" [disabled]="started">
    В бой!
  </button>
  <div class="playgrounds">
    <app-playground
      [name]="nameOwn"
      [own]="true"
      [playground]="ownPlayground"
      [fog]="emptyFog"
      [hadShoots]="ownHadShoots"
      (click)="underAttack(true, getRandomCoords())"
    ></app-playground>
    <app-playground
      [name]="nameEnemy"
      [own]="false"
      [playground]="enemyPlayground"
      [fog]="fog"
      [hadShoots]="enemyHadShoots"
      (click)="underAttack(false, getRandomCoords())"
    ></app-playground>
  </div>
</div>
