<div class="container">
  <!--"started||!(nameReady&&enemyReady)"-->
  <button mat-fab color="warn" (click)="fight()" [disabled]="false">
    В бой!
  </button>
  <div class="playgrounds">
    <app-playground *ngIf="nameReady||true"
      [name]="nameOwn"
      [own]="true"
      [playground]="ownPlayground"
      [fog]="emptyFog"
      [hadShoots]="ownHadShoots"
      (click)="underAttack(true, getRandomCoords())"
    ></app-playground>
    <app-playground *ngIf="enemyReady||true"
      [name]="nameEnemy"
      [own]="false"
      [playground]="enemyPlayground"
      [fog]="fog"
      [hadShoots]="enemyHadShoots"
      (click)="underAttack(false, getRandomCoords())"
    ></app-playground>
  </div>
</div>
